# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv/
venv/
env/

# Data
data/processed/*.csv
data/processed/*.xlsx

# Logs
logs/*.log

# Reports
reports/*.html

# Airflow
airflow.cfg
airflow.db
airflow-webserver.pid
standalone_admin_password.txt
.airflow/

# IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
